{% load static %}
<footer class="page-footer font-small blue pt-4 fixed-bottom">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 col-sm-12">

                <!-- Content -->
                <h5 class="text-uppercase title">Olist</h5>
                <section>
                    <p>Av. Cândido Hartmann, 590</p>
                    <p>Mercês, Curitiba – PR</p>
                    <p>80730-440.</p>
                </section>


            </div>
            <!-- Grid column -->
            <!-- 
            <hr class="clearfix w-100 d-md-none pb-3"> -->

            <!-- Grid column -->
            <div class="col-md-3 col-sm-12">

                <!-- Links -->
                <h5 class="title">soluções</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://olist.com/olist-store/">olist store</a>
                    </li>
                    <li>
                        <a
                            href="https://www.olistshops.com/?_ga=2.21206523.1111855909.1624045653-1112216833.1623073128">olist
                            shops</a>
                    </li>
                    <li>
                        <a
                            href="https://download.olist.com/pax?_ga=2.21206523.1111855909.1624045653-1112216833.1623073128">olist
                            pax</a>
                    </li>
                    <li>
                        <a href="https://olist.com/olist-premium/">olist premium</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-sm-12">

                <!-- Links -->
                <h5 class="title">olist store</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://olist.com/olist-store/" target="_blank">conheça a plataforma</a>
                    </li>
                    <li>
                        <a href="https://olist.com/planos/" target="_blank">planos e preços</a>
                    </li>
                    <li>
                        <a href="https://olist.com/marketplaces/" target="_blank">marketplaces integrados</a>
                    </li>
                    <li>
                        <a href="https://olist.com/parceiros/" target="_blank">parceiros e integrações</a>
                    </li>
                    <li>
                        <a href="https://olist.com/faq/" target="_blank">duvidas frequentes</a>
                    </li>
                    <li>
                        <a href="https://olist.com/produtos-proibidos/" target="_blank">produtos proibidos</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-sm-12">

                <!-- Links -->
                <h5 class="title">o olist</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://olist.com/sobre-o-olist-old/" target="_blank">nossa história</a>
                    </li>
                    <li>
                        <a href="https://blog.olist.com/?_ga=2.28546428.1111855909.1624045653-1112216833.1623073128"
                            target="_blank">blog</a>
                    </li>
                    <li>
                        <a href="https://olist.com/carreira/" target="_blank">carreira</a>
                    </li>
                    <li>
                        <a href="https://olist.com/programa-de-protecao-a-propriedade-intelectual-olist/"
                            target="_blank">propriedade intelectual</a>
                    </li>
                    <li>
                        <a href="https://olist.com/request-my-data/" target="_blank">dados de privacidade</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->


        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright: Helena Kopp | Tech Start | Olist

    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->