{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="card-group">
    <div class="card">
      <img src="{% static 'assets/hello-img.svg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">tech start</h5>
        <p class="card-text">treinamento aos olisters iniciantes na carreira de desenvolvimento de software</p>
        <p class="card-text"><small class="text-muted">incrições para o próximo programa quase abertas</small></p>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'assets/dev.svg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">tecnologia</h5>
        <p class="card-text">Ajudamos negócios do mundo todo a crescerem no e-commerce por meio da nossa tecnologia</p>
        <p class="card-text"><small class="text-muted">agro é tech</small></p>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'assets/chat.svg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">serviços</h5>
        <p class="card-text">Construímos um ecossistema autossuficiente de serviços para todos os negócios</p>
        <p class="card-text"><small class="text-muted">small and big business</small></p>
      </div>
    </div>
  </div>
    {% endblock %}