{% extends 'base.html' %}

{% block content %}
<div class="table-responsive">
<table class="table table-bordered table-light table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Marca</th>
            <th scope="col">Seção</th>
            <th scope="col">Conteudo(Kg / L)</th>
            <th scope="col">Preço</th>
            <th scope="col">AÇÕES</th>
        </tr>
    </thead>
        <tbody>
            {%for item in foods%}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.brand}}</td>
                <td>{{item.section}}</td>
                <td>{{item.content}}</td>
                <td>R$ {{item.price}}</td>
                <td>
                    <a href="/update_food/{{item.id}}" class="btn btn-outline-secondary btn-sm">Editar</a>
                    <a href="/delete_food/{{item.id}}" class="btn btn-outline-secondary btn-sm">Deletar</a>
                 </td>
            </tr>
            {% endfor %}
        </tbody>
</table>
</div>
{% endblock %}