{% extends 'base.html' %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Marca</th>
            <th scope="col">Seção</th>
            <th scope="col">Conteudo(Kg / L)</th>
            <th scope="col">Preço</th>
            <th scope="col">AÇÕES</th>
        </tr>
    </thead>
        <tbody>
            {%for item in foods%}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.brand}}</td>
                <td>{{item.section}}</td>
                <td>{{item.content}}</td>
                <td>R$ {{item.price}}</td>
                <td><a href="#" class="btn btn-outline-danger btn-sm">Editar</a></td>
                <td><a href="/delete_food/{{item.id}}" class="btn btn-outline-danger btn-sm">Deletar</a></td>
            </tr>
            {% endfor %}
        </tbody>
</table>
{% endblock %}